*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navigation_bar{
    background-image: linear-gradient(to RIGHT,#ede8eb,#a2cae8,#7dbae8,#4781ad);
}
.navmenu{
    color: black;
    font-size:20px;
    font-weight: bolder;
    transition-duration: 0.5s;

}
.navmenu:hover {
    color: ghostwhite;
    transition-duration: 1s;
}
.myname{
    font-size: 30px;
    font-family: Arial Black;
    color: #5a2c73 /*PURPLE*/;
    text-shadow: 0px 0px 3px white;
}
.sect
{
/*  border: 2px solid black;*/
    height: 500px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.sect div
{
    font-size: 50px;
}
html{
    scroll-behavior: smooth;
}
.home{
    margin-top: 100px;
    background-color: LIGHTblue;/*THIS IS ADDED HERE  */ 
    height: 400px;
}
.homename{
    font-size: 80px;
}
#designation
{
    font-size: 50px;
    color: orangered;/* CAREER OBJECTIVE AND NAME */
    font-variant: small-caps;
    font-weight: bolder;
}
.home div
{
    font-weight: bolder;
}
.about{
    background-color: #dae0da;
    height: 400px;
}
.aboutdata
{
    margin-top: 25px;
}
.cobj
{
    font-size: 35px;
    font-family: Georgia, serif;
    text-align: justify;
    text-indent: 20%;
    color: black;
}
.section_head
{
    font-size: 50px;
    color: #043287;
    font-variant: small-caps;
    font-family: Arial Black;
}
.myimg{
    transition-duration: 1.5s;
}
.myimg:hover
{
    transform: scale(1.4);
    border-radius: 50px;
    box-shadow: 0px 0px 20px BLACK;
}